[submodule "libs/TMATH"]
	path = libs/TMATH
	url = https://github.com/UnknownBugs/TMATH.git
[submodule "platform/uefi/UEFIWrapper"]
	path = platform/uefi/UEFIWrapper
	url = https://github.com/UnknownBugs/UEFIWrapper.git
[submodule "libs/MUTILS"]
	path = libs/MUTILS
	url = https://github.com/UnknownBugs/MUTILS.git
[submodule "libs/TDEBUG"]
	path = libs/TDEBUG
	url = https://github.com/UnknownBugs/TDEBUG.git
